ui-cell-tab {
  flex-grow: 1;
  display: block;
  padding: 15px;
  margin: 3px;
  border-radius: 3px;
  background-color: silver;
  white-space: nowrap;
  user-select: none;
}

ui-cell-tab .checkbox {
  display: inline;
}

ui-cell-tab .checkbox [els="selectedCheck"] {
  font-size: 38px;
}

ui-cell-tab:hover {
  background-color: pink;
}

ui-cell-tab div.focused {
  background-color: green;
}
