ui-cell-group {
  display: block;
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  background-color: silver;
  white-space: nowrap;
  user-select: none;
}

ui-cell-group:hover {
  background-color: pink;
}

ui-cell-group span.selected {
  border-bottom: 10px solid green;
}
