ui-cell-group {
  display: block;
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  color: silver;
  white-space: nowrap;
  user-select: none;
}

ui-cell-group:hover {
  background-color: black;
}

ui-cell-group span {
  font-size: 1.5em;
}

ui-cell-group span.selected {
  border-bottom: 10px solid green;
}
