ui-cell-output {
  display: block;
  flex-grow: 1;
}

ui-cell-output .oneline {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 2em;
  padding: 10px;
}

.oneline .large {
  font-size: 48px;
  padding: 5px;
}

ui-cell-output .stop {
  padding: 2px;
  background-color: grey;
  margin-top: 5px;
  margin-right: 10px;
  margin-left: 10px;
  cursor: pointer;
}

ui-cell-output .stop:hover {
  background-color: white;
  color: black;
}

ui-cell-output .restart {
  padding: 2px;
  background-color: grey;
  margin-top: 5px;
  margin-right: 10px;
  cursor: pointer;
}

ui-cell-output .restart:hover {
  background-color: white;
  color: black;
}
