ui-cell-output {
  display: block;
  flex-grow: 1;
}

ui-cell-output .oneline {
  display: flex;
  flex-direction: row;
  align-items: center;
}

ui-cell-output .stop {
  padding: 2px;
  background-color: grey;
  margin-top: 5px;
  margin-right: 10px;
}

ui-cell-output .stop:hover {
  background-color: white;
  color: black;
}
