.wrapper {
  display: flex;
  flex-direction: column;
  margin-left: 100px;
  margin-right: 100px;
}

.project {
  display: flex;
}

.projectShellBtn {
  background: none;
  color: white;
  border: none;
  cursor: pointer;
}

.projectShellBtnIcon {
  color: #aeb1b8;
  font-size: 72px;
}

.projectShellBtnIcon:hover {
  color: white;
}

.releasedSyncBtnIcon {
  color: #aeb1b8;
  font-size: 48px;
  cursor: pointer;
}
.releasedSyncBtnIcon:hover {
  color: white;
}

.releasedSyncBtn {
  background: none;
  color: white;
  border: none;
}

.projectShell .scripts {
  display: flex;
}

.projectShell .script {
  padding: 5px;
  background-color: grey;
  margin: 10px;
  color: white;
  font-size: 1.3em;
  cursor: pointer;
}

.projectShell .script:hover {
  background-color: white;
  color: black;
}

.groups {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  font-size: 0.8em;
}
.groups div ui-cell-group {
  padding: 2px;
}
.virtualgroups {
  font-size: 1.2em;
}
.virtualgroups ui-cell-group span.selected {
  border-bottom: 5px solid green;
}

.cells {
}
.cell-tabs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.cell-tabs .two-em {
  font-size: 48px;
}
.cell-outputs {
}

.command-input {
  display: flex;
}

.command-input ui-command-input {
  flex-grow: 1;
}

.command-input .scripts {
  display: flex;
}

.command-input .cellscript {
  padding: 5px;
  background-color: lightgrey;
  margin-right: 10px;
  cursor: pointer;
}

.command-input .cellscript:hover {
  background-color: grey;
  color: white;
}

.cellscript {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: lightgrey;
  color: black;
}

.command-input .runningCommand {
  align-self: center;
  margin-right: 5px;
}

ui-devshell {
  display: block;
}



split-pane {
  display: flex;
  flex-direction: row;
  width: 100%;
}

vsplit-pane {
  display: flex;
  flex-direction: column;
  width: 100%;
}

pane-align-center {
  align-self: center;
}

pane-enlarged {
  flex-grow: 2;
}
