.wrapper {
  display: grid;
  grid-template-columns: 40px auto auto 40px;
  grid-template-rows: auto auto auto auto auto;
}

.project {
  grid-column: 2 / 4;
  grid-row: 1;
}

.groups {
  grid-column: 2 / 4;
  grid-row: 2;
  display: flex;
  flex-direction: row;
}

.cells {
  grid-column: 2 / 4;
  grid-row: 3;
}
.cell-tabs {
  display: flex;
  flex-direction: row;
}
.cell-outputs {
}

.command-input {
  grid-column: 2 / 4;
  grid-row: 4;
}
