.wrapper {
  display: flex;
  flex-direction: column;
  margin-left: 100px;
  margin-right: 100px;
}

.project {
  display: flex;
}

.project .projectShellBtn {
  background: none;
  color: white;
  border: none;
}

.projectShell {
}

.groups {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.cells {
}
.cell-tabs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.cell-outputs {
}

.command-input {
  display: flex;
}

.command-input ui-command-input {
  flex-grow: 1;
}

.command-input .scripts {
  display: flex;
}

.command-input .cellscript {
  padding: 2px;
  background-color: grey;
  margin-top: 5px;
  margin-right: 10px;
}

.command-input .cellscript:hover {
  background-color: white;
  color: black;
}

.cellscript {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.command-input .scripts.common .cellscript {
  padding: 10px;
  background-color: white;
  color: black;
}

.command-input .scripts.common .cellscript:hover {
  background-color: grey;
  color: white;
}

.command-input .scripts.cell .cellscript {
  padding: 10px;
  background-color: lightgrey;
  color: black;
}

.command-input .scripts.cell .cellscript:hover {
  background-color: grey;
  color: white;
}

ui-devshell {
  display: block;
}
