ui-command-input {
  display: flex;
  flex-direction: row;
  margin: 25px;
}

ui-command-input div {
  display: flex;
  width: 100%;
}

ui-command-input span {
  font-size: 2em;
  align-self: center;
}

ui-command-input input {
  flex-grow: 1;
  font-size: 2em;
  background-color: gray;
  border: 1px solid black;
}

ui-command-input .hidden {
  display: none;
}
