.scripts {
  display: flex;
}

.command-input .cellscript {
  padding: 5px;
  background-color: lightgrey;
  margin-right: 10px;
  cursor: pointer;
}

.command-input .cellscript:hover {
  background-color: grey;
  color: white;
}

.cellscript {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: lightgrey;
  color: black;
}